.login-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.login-page-container p {
  text-align: center;
}

.login-buttons {
  display: flex;
  flex-direction: column;
}

.login-buttons button {
  width: 120px;
}

.login-btn {
  margin-bottom: 1em;
}
