<section class="form-container">
  <form>
    <mat-form-field>
      <mat-label>Username</mat-label>
      <input matInput />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Password</mat-label>
      <input type="password" matInput />
    </mat-form-field>

    <button
      mat-raised-button
      color="primary"
      type="submit"
      (click)="goToNews()"
    >
      LOG IN
    </button>
  </form>
  <button mat-stroked-button (click)="goToSignup()">
    I don't have an account!
  </button>
</section>
