.intro-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #646464, #b4b4b4);
}

.intro {
  display: flex;
  flex-direction: column;
}

.intro span {
  font-size: 2.5em;
  padding: 0.3em;
}

.breaking {
  background: #b4b4b4;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.gr {
  color: #fff;
  background: rgb(29, 38, 170);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.news {
  text-align: center;
}

button {
  display: block;
  font-size: 1em;
  padding: 0.5em;
  margin: auto;
  outline: none;
  border: 1px solid #000;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

button:hover {
  box-shadow: 5px 5px 20px #000000;
}

button:active {
  transform: scale(0.98);
}

@media (min-width: 768px) {
  .intro span {
    font-size: 3.5em;
  }
}

@media (min-width: 1024px) {
  .intro span {
    font-size: 4.5em;
  }
}

@media (min-width: 1366px) {
  .intro span {
    font-size: 6.5em;
  }
}
