.news-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 90%;
  max-width: 1280px;
  padding: 2em 0;
  margin: auto;
}

@media (min-width: 768px) {
  .news-container {
    justify-content: space-evenly;
  }

  .single-new {
    width: 40%;
  }
}

@media (min-width: 1024px) {
  .single-new {
    width: 30%;
  }
}
