form {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 1280px;
  padding-top: 2em;
  margin: auto;
  border-bottom: 1px solid rgb(182, 182, 182);
}

@media (min-width: 768px) {
  form {
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
  }

  .category-field {
    margin-left: 2em;
  }
}
