<form [formGroup]="form">
  <mat-form-field class="example-full-width">
    <mat-icon aria-hidden="false" aria-label="Example home icon"
      >search</mat-icon
    >
    <input
      matInput
      placeholder="Search Channels"
      formControlName="searchName"
      (keyup)="searchNameChange()"
    />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Choose Category</mat-label>
    <mat-select name="category" formControlName="category">
      <mat-option
        *ngFor="let category of categories"
        [value]="category"
        (click)="categoryChange()"
      >
        {{ category }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</form>
