mat-card {
  background: rgb(235, 235, 235);
  border-radius: 5px;
  margin-bottom: 2em;
}

mat-card-title {
  font-weight: bold;
}

mat-card-content {
  font-weight: 100;
}

mat-card-footer {
  font-weight: 500;
  padding: 0 0 1em 1em;
}
