html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: rgb(233, 233, 233);
}

* {
  padding: 0;
  box-sizing: border-box;
  line-height: 1.4em;
  scroll-behavior: smooth;
}

.success-msg {
  text-align: center;
  color: #fff;
  background: rgb(28, 121, 28);
}

/* Form Style */
.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
/* End of Form Styles */

/* Overwriting Material styles */
.mat-paginator-page-size-label,
.mat-paginator-page-size-value {
  display: none;
}

.mat-paginator-range-actions {
  padding: 0;
  background: #d1d1d1;
  border-radius: 5px;
}
