mat-card {
  border-radius: 5px;
  padding: 0;
  margin-bottom: 2em;
}

.image-container {
  width: 100%;
  background: rgb(209, 209, 209);
  margin-bottom: 1em;
}

.image-container img {
  display: block;
  width: 80%;
  padding: 1em 0;
  margin: auto;
}

mat-card-title {
  font-weight: 600;
  padding-left: 0.5em;
  color: rgb(51, 51, 51);
}

mat-card-content {
  font-weight: 300;
  padding: 0 0.5em 1em 0.5em;
  color: rgb(133, 133, 133);
}

mat-card-content p {
  padding-left: 0.5em;
}

mat-card-footer {
  font-weight: 500;
  font-style: italic;
  padding: 0 0 1em 1.5em;
}
